/***Base for global and mobile***/
/***general layout***/
h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.15rem;
}

h3 {
	font-size: 1.05em;
}

body {
	overflow-x: hidden;
}

.background {
	background-image: url(../images/garden-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}


.wrapper {
	width: 85%;
	max-width: 1140px;
	margin: 0 auto;
	clear: both;
	padding: 4rem 2rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.photo, img {
	width: 100%;
}

.carrots {
	width: 25%;
}

.centered-carrots {
	width: 25%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: $gut;
}

.logo {
	display: block;
}

button {
		width: 180px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		padding: 0.5em 0.5em;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		color: $darkgreen;
		border: 3px solid $darkgreen;
		border-radius: 3px;
		background-color: $lightgreen;
	}

button:hover {
	color: $lightgreen;
	background-color: $darkgreen;
	border: 3px solid $lightgreen;
}

.info {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	p {
		margin-bottom: 2.5em;
	}
}

h2, h1 {
	text-align: center;
	margin-bottom: ($gut * 2);
}

form {
	border-radius: 3px;
	padding: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 2em;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

/***header and footer***/
header, footer {
	width: 100%;
	overflow: hidden;
}

.header-image {
	width: 203px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	img {
		width: 20%;
		float: left;
	}
	h2 {
		text-align: left;
		margin-bottom: 0;
		float: left;
		padding-top: 5px;
		font-size: 1.625rem;
	}
}

footer {
	clear: both;
	p {
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
	}
	a {
		border-bottom: 1px solid white;
	}
	.timer {
		font-size: 1.5rem;
	}
	.footer-email {
		text-align: center;
		input {
		width: 225px;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
	}
	.footer-button {
		display: inline-block;
		width: 90px;
		padding: 0;
		a {
			border-bottom: none;
		}
	}
	}
}

.header-wrapper {
	width: 85%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


/***nav***/
.panel {
    position: fixed;
    left: -12.5em; /*left or right and the width of your navigation panel*/
    width: 12.5em; /*should match the above value*/
}

.push {
    position: relative;
}

.menu-link {
	position: absolute;
	top: 13px;
	left: 25px;
	z-index: 9999;
	font-size: 1.5rem;
	font-style: normal;
}

#menu {
	height: 100%;
	background-color: lighten($orange, 10%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 1rem;
	z-index: 9999;
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 0.5rem;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid white;
		}
	}
}

// /***main screen, first after log in***/
// .welcome {
// 	margin-bottom: ($gut * 3);
// 	text-align: center;
// }

// .get-growing {
// 	margin-bottom: 5em; 
// }


/***Get A Recommendation Page***/
.dropdown-rec {
	margin-bottom: ($gut * 4);
	h3 {
		margin-bottom: ($gut * 0.5);
	}
	select {
		border: 1px solid $darkgreen;
		width: 100%;
	}
	select:focus {
		outline: none;
		border: 5px solid $orange;
	}
}

.last-dropdown-rec {
	margin-bottom: ($gut * 8);
}

.info {
	p {
		color: lighten($darkgreen, 15%);
	}
}

/***Recommendation Page***/
.rec {
	margin-bottom: 2.5rem;
}

.first-rec {
	margin-top: 4rem;
}

.rec-header-info {
	display: inline-block;
	margin-right: $gut;
}

.companion-planting {
	background-color: $lightblue;
	padding: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 2em;
	a {
		border-bottom: 1px solid white;
	}
}

/***Journal Update Page***/
.journal-entry {
	h3 {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	input {
		margin-bottom: 0.75em;
	}
}

textarea {
	width: 96%;
	height: 200px;
	margin-bottom: 2.5em;
}



/***Journal View Page***/
.journal {
	margin-bottom: ($gut * 2);
	padding: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.journal-quantity, .journal-plant {
	display: inline-block;
}