/***medium media query***/

@media screen and (min-width:675px) {
/***nav***/
.mobile {
	.mobile-links {
		display: inline;
		li {
			display: inline;
		}
	}
}

/***rec info page***/
.dropdown-rec {
	max-width: (($col * 9) + ($gut * 8));
	margin-right: auto;
	margin-left: auto;
}

.dropdown-rec {
	margin-bottom: ($gut * 2);
}

.last-dropdown-rec {
	margin-bottom: ($gut * 6);
}

/***rec page***/
.first-rec {
	margin-top: 0;
}

.rec {
	width: 45%;
	float: left;
}

.rec:nth-of-type(even) {
	margin-right: 10%;
}

.rec-group {
	overflow: hidden;
	margin-bottom: 4rem;
}

.companion-planting {
	max-width: (($col * 9) + ($gut * 8));
	margin-left: auto;
	margin-right: auto;
	clear: both;
}


/***journal update page***/
.journal-entry {
	max-width: (($col * 9) + ($gut * 8));
	margin-left: auto;
	margin-right: auto;
}

/***journal page***/
.journal {
	width: 45%;
	float: left;
}

.journal:nth-of-type(even) {
	margin-right: 10%;
}

.journal-group {
	margin-bottom: 4rem;
	overflow: hidden;
}

@media screen and (min-width: 747px) {
	/***nav***/
.mobile {
	display: none;
}

.desktop {
	display: block;
	margin-bottom: ($gut * 4);
	background-color: lighten($orange, 10%);
	ul {
		overflow: hidden;
		max-width: 675px;
		margin: 0 auto;
		li {
			float: left;
			background-color: lighten($orange, 10%);
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;
			font-size: 0.9em;
			margin-right: 5%;
			a:hover {
				color: white;
			}
		}
		li:last-of-type {
			margin-right: 0;
		}
	}
}
}

@media screen and (min-width:850px) {
/***view rec page***/
.rec {
	width: 30%;
	float: left;
}

.rec:nth-of-type(3n+3) {
	margin-right: 5%;
	margin-left: 5%;
}

.rec:nth-of-type(even) {
	margin-right: 0;
}


/***journal page***/
.journal {
	width: 30%;
	float: left;
}

.journal:nth-of-type(even) {
	margin-right: 0;
}

.journal:nth-of-type(3n+2) {
	margin-right: 5%;
	margin-left: 5%;
}
}
}