h1, h2, h3 {
	font-family: "museo-sans", Helvetica, sans-serif;
	line-height: 1.2;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 700;
	font-size: 1.625em;
}

h3 {
	font-weight: 500;
	font-size: 1.3em;
}

p, li, label, input, textarea, .rec, em, button, a {
	font-family: "adelle-sans", serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.6;
}

a {
	text-decoration: none;
	font-style: italic;
}

select {
	font-family: "adelle-sans", serif;
	font-weight: 400;
	font-size: 0.75em;
}