/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: "museo-sans", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.2; }

h2 {
  font-family: "museo-sans", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.2; }

h3 {
  font-family: "museo-sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.2; }

p, li, label, input, textarea, .rec, em {
  font-family: "adelle-sans", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6; }

button {
  font-family: "adelle-sans", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6; }

a {
  text-decoration: none;
  font-family: "adelle-sans", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
  font-style: italic; }

.logo, footer, header {
  background-color: #f8b771; }

h1, h2, h3, p, label, li, a, .rec, em {
  color: #163821; }

a:hover {
  color: white; }

button a:hover {
  color: #a2ae79; }

.log-in-links a:hover {
  color: #a2ae79; }

.desktop > ul > li > a:hover {
  color: #163821; }

.field input:focus {
  background-color: #8fbcf1;
  outline: none;
  color: #163821; }

.add-color {
  background-color: #f8b771; }

form {
  background-color: #d3e5f9; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  background-color: #f8b771; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  display: block;
  padding: 0.5em 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #163821;
  border: 3px solid #163821;
  border-radius: 3px;
  background-color: #a2ae79;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1rem; }

.nav-toggle:hover {
  color: #a2ae79;
  background-color: #163821;
  border: 3px solid #a2ae79; }

@media screen and (min-width: 800px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse ul {
    max-width: 675px;
    overflow: hidden;
    margin: 0 auto; }

  .nav-collapse li {
    float: left;
    margin-right: 5%; }

  .nav-collapse li:nth-of-type(1) {
    width: 40px; }

  .nav-collapse li:nth-of-type(2) {
    width: 142px; }

  .nav-collapse li:nth-of-type(3) {
    width: 157px; }

  .nav-collapse li:nth-of-type(4) {
    width: 101px; }

  .nav-collapse li:nth-of-type(5) {
    width: 84px; }

  .nav-collapse a {
    font-size: 0.9em; }

  .nav-collapse li:last-of-type {
    margin-right: 0; } }
/***Base for global and mobile***/
/***general layout***/
.wrapper {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
  clear: both; }

header, footer {
  width: 100%; }

header {
  overflow: hidden;
  margin-bottom: 4rem; }

footer {
  clear: both;
  margin-top: 2em; }
  footer p {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center; }
  footer a {
    border-bottom: 1px solid white; }

.photo, img {
  width: 100%; }

.carrots {
  width: 25%; }

.centered-carrots {
  width: 15%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.754%; }

.log-in-carrots {
  width: 15%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.754%;
  margin-top: 2em; }

.logo {
  display: block; }

.info {
  margin-bottom: 5.262%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }

h2, h1 {
  text-align: center;
  margin-bottom: 3.508%; }

form {
  border-radius: 3px;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }

/***index***/
.info {
  margin-bottom: 4em;
  margin-top: 4em; }
  .info p {
    margin-bottom: 2.5em; }

/***main screen, first after log in***/
.welcome {
  margin-bottom: 5.262%;
  text-align: center; }

.get-growing {
  margin-bottom: 5em; }

/***Get A Recommendation Page***/
.dropdown-rec {
  margin-bottom: 7.016%; }
  .dropdown-rec h3 {
    margin-bottom: 0.877%; }
  .dropdown-rec select {
    border: 1px solid #163821;
    font-family: "adelle-sans", serif;
    font-weight: 400;
    font-size: 0.75em;
    width: 50%; }
  .dropdown-rec select:focus {
    outline: none;
    border: 5px solid #8fbcf1; }

.last-dropdown-rec {
  margin-bottom: 14.032%; }

.info p {
  color: #2c6f41; }

.get-garden {
  margin-bottom: 4.5em; }

/***Recommendation Page***/
.rec {
  margin-bottom: 2.5rem; }

.first-rec {
  margin-top: 4rem; }

.rec-header-info {
  display: inline-block;
  margin-right: 1.754%; }

.companion-planting {
  background-color: #8fbcf1;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 2em; }
  .companion-planting a {
    border-bottom: 1px solid white; }

.log-garden {
  margin-bottom: 5em; }

/***Journal Update Page***/
.journal-entry h3 {
  margin-bottom: 1em;
  margin-top: 1em; }
.journal-entry input {
  margin-bottom: 0.75em; }

textarea {
  width: 100%;
  margin-bottom: 2.5em; }

.journal-form {
  margin-bottom: 5em; }

/***Journal View Page***/
.journal {
  margin-bottom: 3.508%;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.journal-quantity, .journal-plant {
  display: inline-block; }

/***medium media query***/
@media screen and (min-width: 675px) {
  /***nav***/
  .mobile .mobile-links {
    display: inline; }
    .mobile .mobile-links li {
      display: inline; }

  /***rec info page***/
  .dropdown-rec {
    max-width: 74.557%;
    margin-right: auto;
    margin-left: auto; }

  .dropdown-rec {
    margin-bottom: 3.508%; }

  .last-dropdown-rec {
    margin-bottom: 10.524%; }

  /***rec page***/
  .first-rec {
    margin-top: 0; }

  .rec {
    width: 45%;
    float: left; }

  .rec:nth-of-type(even) {
    margin-right: 10%; }

  .rec-group {
    overflow: hidden;
    margin-bottom: 4rem; }

  .companion-planting {
    max-width: 74.557%;
    margin-left: auto;
    margin-right: auto;
    clear: both; }

  /***journal update page***/
  .journal-entry {
    max-width: 74.557%;
    margin-left: auto;
    margin-right: auto; }

  /***journal page***/
  .journal {
    width: 45%;
    float: left; }

  .journal:nth-of-type(even) {
    margin-right: 10%; }

  .journal-group {
    margin-bottom: 4rem;
    overflow: hidden; } }
@media screen and (min-width: 675px) and (min-width: 747px) {
  /***nav***/
  .mobile {
    display: none; }

  .desktop {
    display: block;
    margin-bottom: 7.016%;
    background-color: #f8b771; }
    .desktop ul {
      overflow: hidden;
      max-width: 675px;
      margin: 0 auto; }
      .desktop ul li {
        float: left;
        background-color: #f8b771;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        font-size: 0.9em;
        margin-right: 5%; }
        .desktop ul li a:hover {
          color: white; }
      .desktop ul li:last-of-type {
        margin-right: 0; } }
@media screen and (min-width: 675px) and (min-width: 850px) {
  /***view rec page***/
  .rec {
    width: 30%;
    float: left; }

  .rec:nth-of-type(3n+3) {
    margin-right: 5%;
    margin-left: 5%; }

  .rec:nth-of-type(even) {
    margin-right: 0; }

  /***journal page***/
  .journal {
    width: 30%;
    float: left; }

  .journal:nth-of-type(even) {
    margin-right: 0; }

  .journal:nth-of-type(3n+2) {
    margin-right: 5%;
    margin-left: 5%; } }

/*# sourceMappingURL=main.css.map */
