/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3 {
  font-family: "museo-sans", Helvetica, sans-serif;
  line-height: 1.2; }

h1 {
  font-weight: 900; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 500; }

p, li, label, input, textarea, .rec, em, button, a {
  font-family: "adelle-sans", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6; }

a {
  text-decoration: none;
  font-style: italic; }

select {
  font-family: "adelle-sans", serif;
  font-weight: 400;
  font-size: 0.75em; }

.logo, footer, header {
  background-color: #8fbcf1; }

.wrapper {
  background-color: rgba(250, 250, 250, 0.85); }

h1, h2, h3, p, label, li, a, .rec, em {
  color: #163821; }

a:hover {
  color: white; }

button:hover a {
  color: #a2ae79; }

.field input:focus {
  background-color: #8fbcf1;
  outline: none;
  color: #163821; }

/***Base for global and mobile***/
/***general layout***/
h1 {
  font-size: 1.3rem; }

h2 {
  font-size: 1.2rem; }

h3 {
  font-size: 1.1em; }

p {
  font-size: 0.9rem; }

body {
  overflow-x: hidden; }

.background {
  background-image: url(../images/garden-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.wrapper {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  padding: 4rem 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px; }

.photo, img {
  width: 100%; }

.carrots {
  width: 25%; }

.centered-carrots {
  width: 25%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.754%; }

.logo {
  display: block; }

button {
  width: 180px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 0.5em 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #163821;
  border: 3px solid #163821;
  border-radius: 3px;
  background-color: #a2ae79; }

button:hover {
  color: #a2ae79;
  background-color: #163821;
  border: 3px solid #a2ae79; }

.info {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }
  .info p {
    margin-bottom: 2.5em; }

h2, h1 {
  text-align: center;
  margin-bottom: 3.508%; }

form {
  border-radius: 3px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2em;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }

/***header and footer***/
header, footer {
  width: 100%;
  overflow: hidden; }

.header-image {
  width: 203px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }
  .header-image img {
    width: 20%;
    float: left; }
  .header-image h2 {
    text-align: left;
    margin-bottom: 0;
    float: left;
    padding-top: 5px;
    font-size: 1.625rem; }

footer {
  clear: both; }
  footer p {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center; }
  footer a {
    border-bottom: 1px solid white; }
  footer .timer {
    font-size: 1.5rem; }
  footer .footer-email {
    text-align: center; }
    footer .footer-email input {
      width: 225px;
      display: inline-block;
      margin-right: auto;
      margin-left: auto; }
    footer .footer-email .footer-button {
      display: inline-block;
      width: 90px;
      padding: 0; }
      footer .footer-email .footer-button a {
        border-bottom: none; }

.header-wrapper {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem; }

/***nav***/
.panel {
  position: fixed;
  left: -13em;
  /*left or right and the width of your navigation panel*/
  width: 13em;
  /*should match the above value*/ }

.push {
  position: relative; }

.menu-link {
  position: absolute;
  top: 13px;
  left: 25px;
  z-index: 9999;
  font-size: 1.5rem;
  font-style: normal; }

#menu {
  height: 100%;
  background-color: #f8b771;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1rem;
  z-index: 9999; }
  #menu ul {
    margin-top: 20px; }
    #menu ul li {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid white; }

/***Get A Recommendation Page***/
.dropdown-rec {
  margin-bottom: 7.016%; }
  .dropdown-rec h3 {
    margin-bottom: 0.877%; }
  .dropdown-rec select {
    border: 1px solid #163821;
    width: 100%; }
  .dropdown-rec select:focus {
    outline: none;
    border: 5px solid #f59e41; }

.last-dropdown-rec {
  margin-bottom: 14.032%; }

.info p {
  color: #2c6f41; }

/***Recommendation Page***/
.rec {
  margin-bottom: 2.5rem; }

.first-rec {
  margin-top: 4rem; }

.rec-header-info {
  display: inline-block;
  margin-right: 1.754%; }

.companion-planting {
  background-color: #8fbcf1;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 2em; }
  .companion-planting a {
    border-bottom: 1px solid white; }

/***Journal Update Page***/
.journal-entry h3 {
  margin-bottom: 1em;
  margin-top: 1em; }
.journal-entry input {
  margin-bottom: 0.75em; }

textarea {
  width: 96%;
  height: 200px;
  margin-bottom: 2.5em; }

/***Journal View Page***/
.journal {
  margin-bottom: 3.508%;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.journal-quantity, .journal-plant {
  display: inline-block; }

/***medium media query***/
@media screen and (min-width: 675px) {
  /***general***/
  h1 {
    font-size: 2rem; }

  h2 {
    font-size: 1.625em; }

  h3 {
    font-size: 1.3em; }

  /***index***/
  .centered-carrots {
    width: 25%; }

  /***rec info page***/
  .dropdown-rec {
    max-width: 74.557%;
    margin-right: auto;
    margin-left: auto; }

  .dropdown-rec {
    margin-bottom: 3.508%; }

  .last-dropdown-rec {
    margin-bottom: 10.524%; }

  .info p {
    max-width: 74.557%;
    margin-right: auto;
    margin-left: auto; }

  /***rec page***/
  .first-rec {
    margin-top: 0; }

  .rec {
    width: 45%;
    float: left; }

  .rec:nth-of-type(odd) {
    margin-right: 10%; }

  .rec-group {
    overflow: hidden;
    margin-bottom: 4rem; }

  .companion-planting {
    max-width: 74.557%;
    margin-left: auto;
    margin-right: auto;
    clear: both; }

  /***journal update page***/
  .journal-entry {
    max-width: 74.557%;
    margin-left: auto;
    margin-right: auto; }

  /***journal page***/
  .journal {
    width: 45%;
    float: left; }

  .journal:nth-of-type(odd) {
    margin-right: 10%; }

  .journal-group {
    margin-bottom: 4rem;
    overflow: hidden; } }
@media screen and (min-width: 675px) and (min-width: 850px) {
  /***view rec page***/
  .rec {
    width: 30%;
    float: left; }

  .rec:nth-of-type(3n+2) {
    margin-right: 5%;
    margin-left: 5%; }

  .rec:nth-of-type(odd) {
    margin-right: 0; }

  /***journal page***/
  .journal {
    width: 30%;
    float: left; }

  .journal:nth-of-type(odd) {
    margin-right: 0; }

  .journal:nth-of-type(3n+2) {
    margin-right: 5%;
    margin-left: 5%; } }

/*# sourceMappingURL=main.css.map */
